@*VenkatReddy Cherkupalli*@

<!DOCTYPE html>
<html lang="en">
   
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Car Service</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarService.styles.css" asp-append-version="true" />

    <style>
        body{
            font-display:block;
            margin: 0;
            padding: 0;
            font-family: sans-serif;

            background-size: cover;
            background-color: #e6e6e6;

            background-position: center;
        }
        #ul-a {

            list-style: none;
            margin: 2px;
            padding: 3px;
        }

            #ul-a li {
                float: left;
                padding: 10px;
                background: #35B0D6;
                text-align: center;
                margin-left: 3px;
                list-style: none;
                display: inline-block;
                margin: 10px, 10px;
                position: relative;
            }

                #ul-a li:hover {
                    background: white;
                    opacity: 0.5;
                    color: white;
                }

       /* navbar {
            width: 85%;
            margin: auto;
            padding: 35px 0;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;*/
    </style>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><strong>CarService</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul id="ul-a" class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><strong>Home</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About"><strong>About</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index"><strong>Customers</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Mechanics" asp-action="Index"><strong>Mechanics</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Vehicles" asp-action="Index"><strong>Vehicles</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="Index"><strong>Services</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PartsUseds" asp-action="Index"><strong>PartsUsed</strong></a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()<br /><br />
        </main>
    </div>
    <div>
    <footer class="border-top footer text-muted">
        <div class="container">


                <div class="align-content-end"> &copy; 2023 - Car Service -<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>  Venkat Reddy Project Due Date: May 2nd 2023</div>
        </div>
    </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
