@*VenkatReddy Cherkupalli*@

@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p><h5>This Web Application is about the Car Service...<br />
    The Car Services is an web based application, which displays the data about previous customers and mechanics they worked.<br />
    This web app also includes the parts used for the sevice.</h5></p>
