@*VenkatReddy Cherkupalli*@

@{
    ViewData["Title"] = "Home Page";
}
<style>

    
</style>
<div class="text-center">
    <h1 class="display-1">Welcome to the Car Service.</h1>
</div>
<div >
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to Car Services</h2>
        <h5><p>
            This Car Services is the application 
            which runs on Entity Framework core 
            in an ASP.Net core MVC web application.
                </p>
            </h5><
    </div>
    <div class="col-md-6">
        <h2>DataBase for Car Services</h2>
            <p><h5>The Data Base in this Car Service Application is used to store the Customers, Vehicle, Mechanic, Service and PartsUsed..</h5></p>
    </div>
    @*<div class="col-md-4">
        <h2></h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>*@
    </div>
</div>