@*VenkatReddy Cherkupalli*@

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h5>Policies include.</h5>
    <h5>No user can view the data available in the website.<br />
        Only an Authorized person can view and modify the data.<br />

    </h5>
</p>
