@*VenkatReddy Cherkupalli*@

@model CarService.Models.Service

@{
    ViewData["Title"] = "Create Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MechanicID" class="control-label">Mechanic</label>
                <select asp-for="MechanicID" class ="form-control" asp-items="ViewBag.MechanicID"><option>Select Mechanic Name</option></select>
            </div>
            <div class="form-group">
                <label asp-for="VehicleID" class="control-label">VIN #</label>
                <select asp-for="VehicleID" class ="form-control" asp-items="ViewBag.VehicleID"><option>Select Vin Number</option></select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDate" class="control-label"></label>
                <input asp-for="ServiceDate" class="form-control" />
                <span asp-validation-for="ServiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceCost" class="control-label"></label>
                <input asp-for="ServiceCost" class="form-control" />
                <span asp-validation-for="ServiceCost" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
    <a asp-action="Index" asp-controller="Home" class="btn btn-info">Back to Home</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
